/eDrive.xcworkspace/xcuserdata
/.DS_Store
*.log
/sonar-project.properties
compile_commands.json
/eDrive.xcodeproj/xcuserdata
/Pods/Pods.xcodeproj/xcuserdata
/build
/eDrive.xcodeproj/project.xcworkspace
/.fseventsd
/ObjectiveC.gcno
/CoreFoundation.gcno